name: test

env:
  PROJECT_NAME: css430_template

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: pisanuw/uwb430
      options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Create Build Directory
        run: mkdir -p build && mkdir -p run
      - name: Build
        run: cmake .. && cmake --build .
        working-directory: build
      - name: Run Tests
        run: ../build/${{ env.PROJECT_NAME }}-test
        working-directory: run
      - name: Valgrind
        run: valgrind --leak-check=full --error-exitcode=1 ../build/${{ env.PROJECT_NAME }}-test
        working-directory: run
